<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title ng-bind="titulo">
      Proof of Concept: Resolve with react2angular and @ui-router/react-hybrid
    </title>
    <base href="<%= webpackConfig.output.publicPath %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="app" ng-strict-di="true">
    <div class="toolbar">
      <div class="button"><a ui-sref-active="active" ui-sref="list">Angular</a></div>
      <div class="button"><a ui-sref-active="active" ui-sref="reactlist">React</a></div>
    </div>
    <ui-view></ui-view>
    <script src="bundle.js"></script>
  </body>
</html>
