body {
  color: #333;
  display: flex;
  flex-direction: column;
}

.toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #eee;
  border-radius: 3px;
  overflow: hidden;
}

.list .item a,
.toolbar .button a {
  display: block;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.list .item a.active:hover,
.list .item a:hover,
.toolbar .button a.active:hover,
.toolbar .button a:hover {
  background-color: #444;
  color: #fff;
}

.list .item a.active,
.toolbar .button a.active {
  background-color: #666;
  color: #fff;
}

ui-view {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fafafa;
}

.list {
  position: relative;
  background-color: #eee;
  width: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.detail {
  padding: 10px 20px;
}
